<section infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    @if(characters.length> 0){
        @for (character of characters; track $index) {
            <div class="card">
                <img src="{{character.image}}" alt="{{character.name}}">
                <p>Name: {{character.name}}</p>                
                <p>Status: <span>{{character.status}}</span></p>
            </div>
        }
    }
    @else {
        <p>La lista está vacía</p>
    }
    

</section>