<app-navbar (emitter)="getDataFromChild($event)"></app-navbar>
<section class="background" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <button id="button" (click)="goTop()">🔼</button>

    @if(searchedResults.length> 0){
    <div class="container">
        @for (character of searchedResults; track $index) {
        <app-card [character]="character"></app-card>
        }
    </div>  
    }
    @else {
    <section>
        <h1>La lista esta vacia</h1>
    </section>
    }


</section>